<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    




    <section class="gallery" id="gallery">

        <h1 class="heading">
            <span>g</span>
            <span>a</span>
            <span>l</span>
            <span>l</span>
            <span>e</span>
            <span>r</span>
            <span>y</span>
        </h1>
    
        <div class="box-container">
    
            <div class="box">
                <img src="./assets/images/g-1.jpg" alt="" width="300px" height="200px">
                <div class="content">
                    <h3>Ogasawara Islands, Japan</h3>
                    <p>Located in the waters south of Tokyo, the Ogasawara Islands are accessible by a 24-hour-long ferry from central Tokyo.</p>
                    <a href="https://www.istockphoto.com/photos/ogasawara-islands" class="btn">see more</a>
                </div>
            </div>
            <div class="box">
                <img src="./assets/images/g-2.jpg" alt="" width="300px" height="200px">
                <div class="content">
                    <h3>Phuket and Krabi Islands, Thailand</h3>
                    <p>Krabi is the main town in the province of Krabi on the west coast of southern Thailand.</p>
                    <a href="https://www.dreamstime.com/photos-images/phuket-krabi.html" class="btn">see more</a>
                </div>
            </div>
            <div class="box">
                <img src="./assets/images/g-10.jpg" alt="" width="300px" height="200px">
                <div class="content">
                    <h3>Taj Mahal, India</h3>
                    <p>Taj mahal is an islamic ivory white marble mausoleum on the right bank of the river tamuna in the indian city of Agra.</p>
                    <a href="https://www.gettyimages.in/photos/taj-mahal-tourists" class="btn">see more</a>
                </div>
            </div>
            
            <div class="box">
                <img src="./assets/images/g-4.jpg" alt="" width="300px" height="200px">
                <div class="content">
                    <h3>Bali anf Riau Islands, Indonesia</h3>
                    <p>Bali is a province of Indonesia and the westernmost of the Lesser riau Islands. East of Java and west of Lombok island of Bali.</p>
                    <a href="https://www.shutterstock.com/search/bali-island" class="btn">see more</a>
                </div>
            </div>
            <div class="box">
                <img src="./assets/images/g-5.jpg" alt="" width="300px" height="200px">
                <div class="content">
                    <h3>Leaning tower of Pisa, Italy</h3>
                    <p>simply, the tower of pisa.it is the campanile or freestanding bell tower of pisa cathedral, Italy</p>
                    <a href="https://www.istockphoto.com/photos/leaning-tower-of-pisa" class="btn">see more</a>
                </div>
            </div>
            <div class="box">
                <img src="./assets/images/g-6.jpg" alt="" width="300px" height="200px">
                <div class="content">
                    <h3>Boulders Beach cape town, South Africa</h3>
                    <p>boulders beach is a sheltered beach made uo of inelts between granite boulders.</p>
                    <a href="https://www.gettyimages.com/photos/boulders-beach" class="btn">see more</a>
                </div>
            </div>
            <div class="box">
                <img src="./assets/images/g-7.jpg" alt="" width="300px" height="200px">
                <div class="content">
                    <h3>cappadocia, Turkey</h3>
                    <p>Cappadocia, a semi-arid region in central turkey, is konwn as its distinctive 'fairy chimneys' tall.</p>
                    <a href="https://www.istockphoto.com/photos/cappadocia" class="btn">see more</a>
                </div>
            </div>
            <div class="box">
                <img src="./assets/images/g-3.jpg" alt="" width="300px" height="200px">
                <div class="content">
                    <h3>parthenon, athens-greece</h3>
                    <p>The parthenon is a former temple on the athenian acropolis, greece.</p>
                    <a href="https://adventure.howstuffworks.com/parthenon-pictures.htm" class="btn">see more</a>
                </div>
            </div>
            
            <div class="box">
                <img src="./assets/images/g-9.jpg" alt="" width="300px" height="200px">
                <div class="content">
                    <h3>The great pyramid of giza, Egypt</h3>
                    <p>its is the largest egyptian pyramid and the tomb of fourth dynasty pharaoh khufu.built in 26 century BC.</p>
                    <a href="https://www.istockphoto.com/photos/great-pyramid-of-giza" class="btn">see more</a>
                </div>
            </div>
            <div class="box">
                <img src="./assets/images/g-8.jpg" alt="" width="300px" height="200px">
                <div class="content">
                    <h3>Puncak Tanawan in sibulan, phillipins</h3>
                    <p> punack tanawan is a popular hiking site in the islands of negros oriental.</p>
                    <a href="https://www.google.com.pk/travel/entity/key/ChkIwdn0q7f67oZXGg0vZy8xMWM2dl9mMjUxEAQ" class="btn">see more</a>
                </div>
            </div>
            

    
        </div>
</section>    






</body>
</html>
