<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="review" id="review">
        <h1 class="heading">
            <span>r</span>
            <span>e</span>
            <span>v</span>
            <span>i</span>
            <span>e</span>
            <span>w</span>
            <span>s</span>
            
        </h1>

        <div class="swiper-container review-slider">
            <div class="swiper-wrapper">
                <div class="slide">
                    <div class="box">
                        <img src="./assets/images/r2.jpg" alt="" width="200px" height="300px">
                        <h3>Likhith</h3>
                        <p>We booked through Overseas Holidays and we recently completed our hobeymoob trip of 6 nights and 7 days. We had a fabulous trip. I have never a service and down to earth peoples like kashmiri. These peoples are very polite, humble and caring. Our tour consultant Isra she is like awesome at every step what ever she told us was same nothing hidden cost and all. Especially our driver zapper he is also very helpful and humble. Thank you team overseas.</p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>

                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="box">
                        <img src="./assets/images/r3.jpg" alt="" width="200px" height="300px">
                        <h3>Vinay</h3>
                        <p>We had a trip with overseas holidays for Kashmir in the month of feb. We are travelling in a group of 40 persons. Overseas management managed our tour of 6 nights and 7 days. During trip we have visited 3 hotels and 1 houseboat and all the accomodations provided by Team Overseas was perfect in all aspects especially the drivers are very much helpful,caring and polite. We will recommend overseas holidayd. Highly appreciate their services.</p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>

                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="box">
                        <img src="./assets/images/r1.jpg" alt="" width="200px" height="300px">
                        <h3>Bademeya</h3>
                        <p>Good service & Lovely vaccation. All arrangements services are helpful and Kashmir people's are very lean and faithful...... trip of gulmarg was awesome have much beautiful what we expect ..</p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>

                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="box">
                        <img src="./assets/images/r4.jpg" alt="" width="200px" height="300px">
                        <h3>Hanimi Reddy</h3>
                        <p>never enjoyed a holiday as much as I have this time not only because the place but because of how wonderfully overseas holidays planned our trip. They kept calling us to check if we were comfortable and enjoying our trip. They even went to the extent of changing our hotel last minute on request. Bilal Bhai who was our tour navigator was amazing and a very loving and humble person. I would highly recommend their services and hospitality.</p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>

                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="box">
                        <img src="./assets/images/r5.jpg" alt="" width="200px" height="300px">
                        <h3>Rama Krishna</h3>
                        <p>We had a family trip in the month of December last week. We enjoyed our trip so well. No complaints we had a excellent journey throughout the tour. Thanks To Team Overseas Holidays</p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        </section>
        <!-- <script>
            var swiper = new Swiper(".review-slider", {
                spaceBetween:20,
                loop:true,
                autoplay:{
                    delay:2500,
                    diableOnInteraction: false,
                },
                breakpoints: {
                    640:{
                        slidesPerView: 1,
                    },
                    768:{
                        slidesPerView:2,

                    },
                    1024:{
                        slidesPerView:3,
                    },
                }
            });
        </script> -->
</body>
</html>