.heading{
    text-align: center;
    padding:1rem 0;
  }

  .heading span{
    font-size: 2rem;
    background:rgba(165, 42, 42, 0.803);
    color:var(--brown);
    border-radius: .5rem;
    padding:.1rem 1rem;
  }

  body{
    background-color: rgba(93, 7, 7, 0.378);
  }


  .review .review-slider
  {
    padding-bottom: 2rem;

  }


  .review .box
  {
    
    padding: 2rem;
    text-align:center ;
    box-shadow: 0 1rem rgba(0, 0, 0, .1) ;
    border-radius: .5rem;
  }


  .review .box img
  {
     height: 10rem;
     width: 10rem;
     border-radius:50% ;
     object-fit: cover;
     margin-bottom: 1rem;
  }

  .review .box h3
  {
      color: #333;
      font-size: 1rem;
      
  }

  .review .box p
  {
      color: rgb(0, 0, 0);
      font-size: 12.6px;
      padding: 1.5rem 0;
  }

  .review .box .stars i
  {
      color: var(--orange);
      font-size: 1.7rem;
      
  }





/* .review .review-slider{
    padding-bottom: 2rem;
  }
  
  .review .box{
    padding:2rem;
    text-align: center;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
    border-radius: .5rem;
  }
  
  .review .box img{
    height:13rem;
    width:13rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
  }
  
  .review .box h3{
    color:#333;
    font-size: 2.5rem;
  }
  
  .review .box p{
    color:#666;
    font-size: 1.5rem;
    padding:1rem 0;
  }
  
  .review .box .stars i{
    color:var(--orange);
    font-size: 1.7rem;
  } */