<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="services" id="services">

        <h1 class="heading">
            <span>s</span>
            <span>e</span>
            <span>r</span>
            <span>v</span>
            <span>i</span>
            <span>c</span>
            <span>e</span>
            <span>s</span>
        </h1>
    
        <div class="box-container">
    
            <div class="box">
                <i class="fas fa-hotel"></i>
                <h3>affordable hotels</h3>
                <p>We are provided Duplex rooms with optional extra payable luxry suits and we maintained beutiful classic affordable rooms for all types of customers.</p>
            </div>
            <div class="box">
                <i class="fas fa-utensils"></i>
                <h3>food and drinks</h3>
                <p>We serve the tastiest food and drinks as per the hotel menu, we provided dinining hall for who wants to enjoy their food with family and friends. </p>
            </div>
            <div class="box">
                <i class="fas fa-bullhorn"></i>
                <h3>safty guide</h3>
                <p>We maintain a safe securities for the peoples and their things, we have a best safe guide for the customers who wants safiest service.</p>
            </div>
            <div class="box">
                <i class="fas fa-globe-asia"></i>
                <h3>around the world</h3>
                <p>We have different types of packages, that are in affordable price to all type of customers and world wide tour plans for who are going to plan world trip.</p>
            </div>
            <div class="box">
                <i class="fas fa-plane"></i>
                <h3>fastest travel</h3>
                <p>We have a fastest traspotation for customers like buses,cars and flights. we provide affordable seperate transport for the customers who are wants to go personal tours.  </p>
            </div>
            <div class="box">
                <i class="fas fa-hiking"></i>
                <h3>adventures</h3>
                <p>All the trips are like adventures while you are in the tour. we have a best adventures tours, you dont belive these are worlds best tours ever.</p>
            </div>
    
        </div>
    
    </section>
</body>
</html>
