

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        
      <div class="carousel slide" id="demo" data-ride="carousel">

        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
            <li data-target="#demo" data-slide-to="3"></li>
            <li data-target="#demo" data-slide-to="4"></li>

        </ul>

        <div class="carousel-inner ">
            

            <div class="carousel-item active" id="myvideo">
                <video src="./assets/images/vid-1.mp4" autoplay loop muted ></video>
                <div class="carousel-caption" id="lay">
                    <p>"Travel changes you. As you move through this life and this world, you change things slightly, you leave marks behind, however small. And in return, life and travel leaves marks on you."</p>
                </div>
                <div class="carousel-caption" >
                    <h3 style="color: rgb(0, 217, 255);">Adventure is worthwhile</h3>
                    <p style="color: rgb(255, 221, 0);">Discover New Places With Us, Adventure Awaits</p>
                    <a href="http://localhost:4200/gallery" class="btn-warning">Discover More</a>
                  </div>
            </div>
            <div class="carousel-item">
                <video src="./assets/images/vid-2.mp4" autoplay loop muted></video>
                <div class="carousel-caption" id="lay">
                    <p>"The biggest adventure you can take is to live the life of your dreams." </p>
                </div>
                <div class="carousel-caption" >
                    <h3 style="color: rgb(0, 217, 255);">Adventure is worthwhile</h3>
                    <p style="color: rgb(255, 221, 0);">Discover New Places With Us, Adventure Awaits</p>
                    <a href="http://localhost:4200/gallery" class="btn-warning">Discover More</a>
                  </div>
            </div>
            <div class="carousel-item">
                <video src="./assets/images/vid-3.mp4" autoplay loop muted></video>
                <div class="carousel-caption" id="lay">
                        <p>"No one realizes how beautiful it is to travel until person comes home and rests his head on his old, familiar pillow."</p>
                </div>
                <div class="carousel-caption" >
                    <h3 style="color: rgb(0, 217, 255);">Adventure is worthwhile</h3>
                    <p style="color: rgb(255, 221, 0);">Discover New Places With Us, Adventure Awaits</p>
                    <a href="http://localhost:4200/gallery" class="btn-warning">Discover More</a>
                  </div>
            </div>
            <div class="carousel-item">
                <video src="./assets/images/vid-4.mp4" autoplay loop muted></video>
                <div class="carousel-caption" id="lay">
                    <p>"Tourists don't know where they've been, travelers don't know where they're going."</p>
                </div>
                <div class="carousel-caption" >
                    <h3 style="color: rgb(0, 217, 255);">Adventure is worthwhile</h3>
                    <p style="color: rgb(255, 221, 0);">Discover New Places With Us, Adventure Awaits</p>
                    <a href="http://localhost:4200/gallery" class="btn-warning">Discover More</a>
                  </div>
            </div>
            <div class="carousel-item">
                <video src="./assets/images/vid-5.mp4" autoplay loop muted></video>
                <div class="carousel-caption" id="lay">
                    <p>"Travel and change of place impart new vigor to the mind."</p>
                </div>
                <div class="carousel-caption" >
                    <h3 style="color: rgb(0, 217, 255);">Adventure is worthwhile</h3>
                    <p style="color: rgb(255, 221, 0);">Discover New Places With Us, Adventure Awaits</p>
                    <a href="http://localhost:4200/gallery" class="btn-warning">Discover More</a>
                  </div>
            </div>
            
        </div>

        <a href="#demo" class="carousel-control-prev" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a href="#demo" class="carousel-control-next" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    

      </div>
        


    </body>
    </html>
    
   
